<div *ngIf="pokemon" class="d-flex justify-content-around">
  <div>
    <p>ID: {{ pokemon.id }}</p>
    <p>Name: {{ pokemon.name }}</p>
    <p>Weight: {{ pokemon.weight }}</p>
    <p>Height: {{ pokemon.height }}</p>
  </div>

  <div>
    <p>Name: {{ pokemon.name }}</p>
    <img src="{{ pokemon.sprites.front_default }}" alt="" />
  </div>
</div>

<button class="btn btn-primary" (click)="catturaPokemon(pokemon)">
  Cattura
</button>

<button class="btn btn-danger" (click)="rifiutaPokemon(pokemon)">
  Rifiuta
</button>

<app-pokemon-catturati></app-pokemon-catturati>

<app-pokemon-rifiutati></app-pokemon-rifiutati>
