<div class="card my-5">
  <div class="card-body">
    <h5 class="card-title">Rejected Pokemon: {{ pokemon.length }}</h5>
    <ul class="list-group list-group-flush">
      <ng-container *ngFor="let item of pokemon">
        <div
          class="d-flex align-items-center list-group-item"
          [routerLink]="['./details', TYPE, item.id]"
        >
          <img src="{{ item.sprites.front_default }}" alt="" />
          <p class="me-1">#{{ item.id }}</p>
          <p class="me-1">{{ item.name }}</p>
        </div>
      </ng-container>
    </ul>
  </div>
</div>
